body
{
  background-image: url( "https://s3.eu-central-1.amazonaws.com/quendara.de/background/Grafitti-Stonewall-2.jpg" )
}

h1, p {
  font-family: Lato;
}

.overflow {
 
  text-overflow:ellipsis;
  white-space: nowrap;
    overflow: hidden;
}